:root {
  --white: hsl(0, 0%, 100%);
  --white50: hsla(0, 0%, 100%, 0.5);
  --white25: hsla(0, 0%, 100%, 0.25);
  --pink: #ae2573;
  --darkBrown: #2b2523;
  --brown: #5e514d;
  --lightBrown: #aa9f8e;
  --warmGray1C50: #ebe8e5;
  --warmGray1C25: #f5f4f2;

  --modal: hsla(0, 0%, 0%, 0.5);
  --shadow: hsla(0, 0%, 0%, 0.05);
  --shadowMiddle: hsla(0, 0%, 0%, 0.25);

  --gray: hsl(0, 0%, 50%);
}

* {
  color: var(--brown);
}

body {
  background-color: var(--warmGray1C25);
}

footer {
  color: var(--warmGray1C25);
  background-color: var(--darkBrown);
}

h1 {
  color: var(--pink);
}

h2,
h3,
h4 {
  color: var(--darkBrown);
}
